@tailwind base;
@tailwind components;
@tailwind utilities;


.aspect-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Aspect ratio 16:9 */
}

.aspect-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.dialog-enter {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.dialog-enter-active {
  transform: translateX(0);
}
.dialog-leave {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.dialog-leave-active {
  transform: translateX(100%);
}


/* Gaya untuk tombol yang dinonaktifkan */
button[disabled], .btn-disabled {
  background-color: #d3d3d3; /* Warna abu-abu untuk tombol nonaktif */
  cursor: not-allowed;
  pointer-events: none;
  color: #666; /* Warna teks lebih gelap */
  border: 1px solid #ccc; /* Batas tombol */
}

/* Gaya untuk menampilkan tooltip */
.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  display: none; /* Sembunyikan tooltip secara default */
  z-index: 1000;
}

.tooltip-visible {
  display: block; /* Tampilkan tooltip ketika ada peringatan */
}

/* Gaya untuk alert error */
.alert-warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #383fbf;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  /* display: flex;
  place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h3 a {
  color: white;
}
.group h3 a {
  color: #383fbf;
}
article h3 a {
  color: #ffffff;
}
article h3 a:hover {
  color: #ffffff;
}
